.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp2.2/OOP.deps.json
bin/Debug/netcoreapp2.2/OOP.dll
bin/Debug/netcoreapp2.2/OOP.pdb
bin/Debug/netcoreapp2.2/OOP.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/OOP.runtimeconfig.json
obj/OOP.csproj.nuget.cache
obj/OOP.csproj.nuget.dgspec.json
obj/OOP.csproj.nuget.g.props
obj/OOP.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/OOP.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/OOP.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/OOP.assets.cache
obj/Debug/netcoreapp2.2/OOP.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/OOP.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/OOP.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/OOP.dll
obj/Debug/netcoreapp2.2/OOP.pdb
